@import "../config/mixins";

.m-chat {
	position: fixed;
	right: 30px;
	bottom: 0;
	width: 340px;
	max-width: calc(100vw - 100px);
	max-height: 90vh;
	display: flex;
	flex-direction: column;
	box-shadow: -3px -3px 15px 0 rgba(#000, 10%);
	overflow: hidden;
	border-radius: var(--m-chat-head-radius) var(--m-chat-head-radius) 0 0;

	&.is-open {
		@include media-mx(768) {
			width: 100% !important;
			height: 100% !important;
			max-width: 100vw;
			min-height: 100vh;
			max-height: 100vh;
			right: 0;
			border-radius: 0;
		}

		.m-chat-body {
			display: flex;
		}

		.m-chat-footer {
			display: block;
		}
	}

	&.dragging {
		&::after {
			content: '';
			position: absolute;
			inset: 0;
			background-color: rgba(#555, 10%);
			backdrop-filter: blur(1px);
		}
	}
}

.m-chat-separator-top,
.m-chat-separator-left {
	position: absolute;
	background-color: transparent;
	transition: background-color var(--m-chat-default-transition);
	z-index: 5;

	@include any-hover {
		background-color: rgba(#000, 10%);
	}

	&:active {
		background-color: rgba(#000, 30%);
	}
}

.m-chat-separator-top {
	top: 0;
	width: 100%;
	height: 4px;
	cursor: row-resize;
}

.m-chat-separator-left {
	left: 0;
	height: 100%;
	width: 4px;
	cursor: col-resize;
}