.m-chat-popup {
	--message-error-color: #ff4747;

	position: absolute;
	inset: 0;
	background-color: rgba(#fff, 40%);

	display: flex;
	align-items: center;
	justify-content: center;

	// .m-chat-popup__body
	&__body {
		position: relative;
		background-color: #333;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 3px rgba(#000, 25%), 0 0 6px rgba(#000, 20%), 0 0 10px rgba(#000, 15%), 0 0 15px rgba(#000, 10%);

		display: flex;
		flex-direction: column;
		gap: 15px;
		overflow: hidden;

		textarea {
			width: 250px;
			min-height: 120px;
			max-height: 260px;
			padding: 10px;
			resize: none;
			border-radius: 6px;

			&.is-empty {
				outline: 1px solid var(--message-error-color);
			}
		}
	}

	// .m-chat-popup__title
	&__title {
		color: #fff;
		text-align: center;
	}

	// .m-chat-popup__message
	&__message {
		font-size: 12px;
		color: var(--message-error-color);
		text-align: center;
	}

	// .m-chat-popup__rating
	&__rating {
		color: #fff;
	}

	// .m-chat-popup__button
	&__button {
		padding: 4px;
		border-radius: 6px;
		transition: background-color var(--m-chat-default-transition), color var(--m-chat-default-transition);

		&:hover {
			background-color: var(--m-chat-primary-color);
			color: #fff;
		}

		&:active {
			background-color: var(--m-chat-primary-dark-color);
		}
	}
}