#root {
	position: fixed;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	z-index: 10000;
}

.m-chat {
	width: 340px;
	max-height: 90vh;
	position: fixed;
	right: 30px;
	bottom: 0;
	display: flex;
	flex-direction: column;
	box-shadow: -3px -3px 15px 0 rgba(#000, 10%);
	overflow: hidden;
	border-radius: var(--m-chat-head-radius) var(--m-chat-head-radius) 0 0;

	&.is-open {
		@include media-mx(768) {
			width: 100%;
			height: 100%;
			min-height: 100vh;
			max-height: 100vh;
			right: 0;
			border-radius: 0;
		}

		.m-chat-body {
			display: flex;
		}

		.m-chat-footer {
			display: block;
		}
	}
}

.m-chat-header {
	--size-btn-close: 20px;

	display: grid;
	grid-template-columns: 1fr var(--size-btn-close);
	gap: 0 10px;
	padding: 14px 15px;
	cursor: pointer;
	background: var(--m-chat-head-bg-color);

	// .m-chat-header__title
	&__title {
		font-size: 15px;
		font-weight: 400;
		line-height: 155%;
		color: var(--m-chat-white-color);
	}

	// .m-chat-header__btn
	&__btn {
		position: relative;
		width: var(--size-btn-close);
		height: var(--size-btn-close);
		border-radius: 5px;
		outline: 0;
		border: 0;
		background: transparent;
		cursor: pointer;
		transition: background var(--m-chat-default-transition);

		@include any-hover {
			background: rgba(#fff, 10%);
		}

		&:active {
			background: rgba(#fff, 20%);
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: calc(var(--size-btn-close) - 4px);
			height: 2px;
			background-color: #fff;
		}

		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

.m-chat-body {
	display: none;
	flex: 1 1 400px;
	padding: 10px 15px;
	flex-direction: column;
	gap: 20px;

	background-image: url(../../images/background.svg);
	background-color: var(--m-chat-bg-color);
	background-size: 250px auto;

	overflow: hidden auto;

	&::-webkit-scrollbar {
		width: 15px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-track {
		border-radius: 0;
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		border: 4px solid var(--m-chat-bg-color);
		background-color: rgba(0, 0, 0, .1);
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: #ccc;
	}
}

.m-chat-footer {
	display: none;
	padding: 10px 15px;
	background-color: #fff;
	border-top: 1px solid rgba(#000, 10%);

	// .m-chat-footer__form
	&__form {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 10px;
	}

	// .m-chat-footer__control
	&__control {
		grid-row: 1/4;
		width: 100%;
		height: 64px;
		max-height: 64px;
		font-size: 14px;
		line-height: 150%;
		resize: none;
		background-color: transparent;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	// .m-chat-footer__btn
	&__btn {
		--size: 24px;

		display: flex;
		align-items: center;
		justify-content: center;
		width: var(--size);
		height: var(--size);
		border-radius: 4px;
		color: var(--m-chat-primary-color);
		background-color: transparent;
		transition: background-color var(--m-chat-default-transition);

		&:hover {
			background-color: rgba(#000, 3%);
		}

		&:active {
			background-color: rgba(#000, 10%);
		}

		&:disabled,
		&:disabled:hover {
			color: #ccc;
			cursor: default;
			background-color: transparent;
		}

		svg {
			width: calc(var(--size) - 8px);
			height: calc(var(--size) - 8px);
		}
	}

	// .m-chat-footer__actions
	&__actions {
		display: flex;
		align-items: center;
		gap: 5px;
		margin-top: 4px;
	}

	// .m-chat-footer__action-btn
	&__action-btn {
		--size: 24px;

		width: var(--size);
		height: var(--size);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 4px;
		color: var(--m-chat-primary-color);
		background-color: transparent;
		transition: background-color var(--m-chat-default-transition);

		&:hover {
			background-color: rgba(#000, 3%);
		}

		&:active {
			background-color: rgba(#000, 10%);
		}

		input {
			display: none;
		}
	}
}