.m-chat-message {
	--size: 28px;

	max-width: max-content;
	display: flex;
	align-items: flex-end;
	gap: 10px;
	animation: fade-up-big .3s ease-in-out forwards;

	&.system {
		align-self: center;
		text-align: center;
		font-size: 12px;
		background: rgba(#90000e, 80%);
		color: #f3f3f3;
		padding: 2px 6px;
		border-radius: 4px;
		box-shadow: 0 0 10px rgba(#000, 30%);
	}

	&.user {
		flex-direction: row-reverse;
		align-self: flex-end;

		.m-chat-message__text {
			background: var(--m-chat-head-bg-color);
			color: var(--m-chat-white-color);
			border-radius: 4px 4px 0 4px;
		}
	}

	// .m-chat-message__image
	&__image {
		flex: 0 0 var(--size);
		height: var(--size);
		padding: 2px;
		border-radius: 50%;
		background-color: #f2f9fb;
		border: 1px solid rgba(#383838, 10%);
		overflow: hidden;

		img {
			max-width: 100%;
		}
	}

	// .m-chat-message__text
	&__text {
		flex: 1 1 calc(100% - var(--size));
		border-radius: 4px 4px 4px 0;
		background-color: #fff;
		padding: 5px 10px;
		max-width: max-content;

		font-size: 14px;
		text-align: left;
		color: #383838;
		word-break: break-word;
		box-shadow: 0 0 5px 0 rgba(#000, 10%);
	}
}