:root {
	--m-chat-default-transition: .3s ease-in-out;
	--m-chat-bg-color: #fff;
	--m-chat-primary-color: #f6aa11;
	--m-chat-primary-dark-color: #d38701;

	--m-chat-head-radius: 10px;
	--m-chat-head-bg-color: linear-gradient(
			272deg,
			var(--m-chat-primary-dark-color) 0%,
			var(--m-chat-primary-color) 100%
	);

	--m-chat-white-color: #fff;
}