:root {
	--m-chat-default-transition: .3s ease-in-out;
	--m-chat-bg-color: #f4fcfe;
	--m-chat-hue-color: 29;
	--m-chat-primary-color: hsl(var(--m-chat-hue-color), 37%, 50%);
	--m-chat-primary-dark-color: hsl(var(--m-chat-hue-color), 37%, 40%);

	--m-chat-head-radius: 5px;
	--m-chat-head-bg-color: linear-gradient(
			272deg,
			var(--m-chat-primary-dark-color) 0%,
			var(--m-chat-primary-color) 100%
	);

	--m-chat-white-color: #fff;
}